
/*  Colors
Black: #000000
White #FFF
White 87% #DEDEDE

Grey:

900: #919191
950: #303030
800: #424242


*/



html {
	font-family: 'Roboto', 'Noto Sans', sans-serif;
}


/*  *****************
	*				*
	*	 Flexbox	*
	*				*
	*****************/

.flexcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

#flexitem0 {
	flex: 1 1 50%;
	max-height: 150px;
	max-width: 150px;
}


/*  *****************
	*				*
	*	 Navbar 	*
	*				*
	*****************/
	
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

/*  *****************
	*				*
	*	 Layout 	*
	*				*
	*****************/


.hero {
	margin: 0;
	padding: 0;
	min-height: 100%;  /* For old browsers */
	min-height: 100vh; 
	text-align: center;
	display: flex;
  	align-items: center;
	
}

.content {
	min-height: 50%;  /* For old browsers */
  	min-height: 50vh; 
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
	background-color: #303030;
}


/*  *****************
	*				*
	*	 Content 	*
	*				*
	*****************/

#hero1 {
	background:url(http://www.spacetelescope.org/static/archives/images/wallpaper3/heic1501a.jpg);
	background-size:cover;
  	background-position:center center;
  	background-attachment:fixed;
}

.hero h1 {
	color: #fff;
	font-size: 7.6vmax;
	margin: 0;
	width: 100%;
}

.phrase {
	padding: 6vh;
	color: #DEDEDE;
	background-color: #424242;

}

#hero-img {
	border: 5px solid #333;
}


#hero2 {
	background: url(http://www.spacetelescope.org/static/archives/images/wallpaper3/heic0515a.jpg);
  	background-size:cover;
  	background-position:center center;
  	background-attachment:fixed;
}